
  .portfolio-item1 {
    position: relative;
    float: left;
    width: 50%;
    height: 350px;
    
    background-size: cover;
  }

  .portfolio-text {
    margin-top: 170px;
    color: white;
    padding: 50px;
    width: 100%;
    font-size: 1.5rem;
  } 
  .portfolio-title{
  font-size: 3rem;
  }
  .white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index : 2;
    border : 0px solid black;
    transition: border 0.5s;
  }
  .lightning{
    position: absolute;
    top:0;
    width: 125px;
    height: 80px;
    float:left;
    object-fit: cover;
    opacity: 0;
    z-index: 2;
    transition: opacity 1.5s;

  }
  .silogo{
    position: relative;
    top:0;
    width: 125px;
    height: 125px;
    float:left;
    z-index: 1;
    object-fit: cover;
    
  }
  .silogoHuman{
    position: absolute;
    top:0;
    width: 2%;
    height: 9%;
    float:left;
    object-fit: cover;
    transition: 1s;
    
  }
  .lightning:hover{
    opacity: 0.5;
    
  }
  .white-box:hover {
    border : 30px solid black;
  }
  @media  (max-width : 767px) {
    .portfolio-item1 {
      float: none;
      width: 100%;
      
    }
    
    .portfolio-text {
        margin-top: 0px;
        color: white;
        padding: 50px;
        width: 100%;
        font-size: 1.5rem;
      } 
    
  }
  