.App {
  text-align: center;
}
html{
font-size: 62.5%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: 'yangjin';
  src: url(../public/font/양진체v0.9_ttf.ttf);
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes shake {
  0% { transform: rotate(0deg)}
  25% { transform: rotate(-8deg)}
  50% { transform: rotate(8deg)}
  75% { transform: rotate(-8deg)}
  100% { transform: rotate(0deg)}
} 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bgm{
  top:0;
  height: 50px;
  width: 30%;
  float: right;
  position: fixed;
  text-align: right;
  margin-bottom: 100px;
  z-index: 1;
  margin-left: 70%;
  opacity: 50%;

}
.bgmbox{
  
  height: 10%;
}
.main-color{
  padding-top:100px;
}
.main-background {
  
  margin-top: 30px;
  background-image: url(../public/img/mainbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 500px;
  padding: 20px;
 

}
.main-container {
  
  max-width: 1200px;
  margin: auto;
 
} 

.main-text {
  float: left;
  filter: grayscale(0%);
  text-shadow: -5px 0 rgb(96, 136, 177), 0 1px , 1px 0 , 0 -5px rgb(96, 136, 177);
  font-family: 'yangjin';
  color:rgb(218, 218, 218);
  font-size:10rem;
  
}

.main-iphone {
  width: 400px;
  float: center;
  height: 500px;
  margin-top: 200px;
  filter: opacity(80%);
}
.btn-black{

  margin-top:30px;
  letter-spacing:2px;
  background-color: rgb(96, 136, 177);
  font-size: 10rem;
  width: 120px;
  height: 50px;
  float: left;
  
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: white;
}
.category-title{
  font-size: 30px;
  padding-bottom:100px;
  font-family: 'yangjin';
}
.portfolio-container {
  text-align: left;
  max-width: 1200px;
  margin: auto;
}
.about{
  text-align: center;
  font-size: 3rem;
  font-family: 'yangjin';
  padding: 50px;
}
.beginning{
  width: 80%;
  margin-left: 10%;
  font-size: 2rem;
  font-family: 'yangjin';

}
.beginning-header{
  font-size: 4rem;
  padding-bottom: 4rem;
}


@media  (max-width : 992px) {
  .bgm{
    width: 300px;
    position: absolute;
    float:right;
    margin-left: 40%;
  }
  .main-background{
    


  }
  
  .main-iphone {
    width: 260px;
    display: block;
    float: none;
    margin: auto;
    margin-top: 42px;
  }

  
  .main-text {
    
    float: none;
    margin-top: 60px;
    text-align: left;
    font-size: 6rem;
    text-shadow: -3px 0 rgb(96, 136, 177), 0 1px , 1px 0 , 0 -3px rgb(96, 136, 177);

  }
 
  .category-title{
    font-size: 30px;
    padding-bottom:0px;
    font-family: 'yangjin';
  }

  
}